<h2 mat-dialog-title>Registrar Ingreso de Mercadería</h2>


<mat-dialog-content class="pt-3">
  <form [formGroup]="ingresoForm">
    <div class="row g-3">
      <mat-form-field appearance="outline" class="col-md-6">
        <mat-label>Proveedor</mat-label>
        <mat-select formControlName="proveedor">
          <mat-option *ngFor="let p of proveedores" [value]="p">{{p}}</mat-option>
        </mat-select>
        <mat-error>El proveedor es requerido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-md-6">
        <mat-label>Número de Remito</mat-label>
        <input matInput formControlName="numeroRemito" placeholder="Ej: R-0001-000456">
        <mat-error>El número de remito es requerido</mat-error>
      </mat-form-field>
    </div>

    <mat-divider class="my-4"></mat-divider>

    <div class="d-flex justify-content-between align-items-center mb-3">
      <h3 class="m-0 fs-5 fw-bold text-secondary">Productos del Remito</h3>
    </div>

    <app-buscador-producto [products]="products" (productSelected)="addToCart($event)" (productCreated)="onProductCreated($event)"></app-buscador-producto>

    <div>
      <app-lista-productos [cart]="cart" (changeQuantity)="handleChangeQuantity($event)"></app-lista-productos>
    </div>

  </form>

  

</mat-dialog-content>

<mat-dialog-actions align="end" class="p-3 border-top bg-light">
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="save()" 
          [disabled]="ingresoForm.invalid || items.length === 0">
    Guardar Ingreso
  </button>
</mat-dialog-actions>
