<mat-form-field appearance="outline" class="w-100 large-input buscador-producto">
	<mat-label>Escriba el nombre o use el lector de barras</mat-label>
	<input type="text" matInput [formControl]="searchControl" [matAutocomplete]="auto" [value]="''" [attr.autocomplete]="'off'">
	<mat-icon matSuffix>qr_code_scanner</mat-icon>
	<button mat-icon-button matSuffix type="button" title="Nuevo producto" (click)="openNewProduct($event)">
		<mat-icon>add</mat-icon>
	</button>

	<mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event.option.value)" [displayWith]="displayFn.bind(this)">
		<mat-option *ngFor="let product of filteredProducts | async" [value]="product">
			<div class="d-flex align-items-center py-1">
				<img [src]="product.imagenUrl" class="search-thumb me-3" *ngIf="product.imagenUrl">
				<div class="flex-grow-1">
					<div class="fw-bold">{{product.descripcion}}</div>
					<small class="text-muted"><span class="fw-bold text-primary">${{product.precioVenta}}</span> Código:{{product.codigoBarra || product.codigoInterno}}</small>
				</div>
				
			</div>
		</mat-option>
	</mat-autocomplete>
</mat-form-field>
