::ng-deep .mat-mdc-autocomplete-panel .mat-mdc-option { 
    padding: 6px 12px;
    border-bottom: 1px solid #ddd;
}

/* small tweaks */
.search-thumb { width:40px; height:40px; object-fit:contain; border-radius:4px; }
